* {
  box-sizing: border-box;
  margin: 0;
}
a {
  text-decoration: underline;
  cursor: pointer;
}
body {
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
  background-color: #171717;
  color: #fff;
  overflow: hidden;
}
.container {
  display: flex;
  display: -webkit-flex;
}
.container .circle-view {
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
}
.container .circle-view .spot:hover {
  fill: #fff;
  stroke: #fff;
  stroke-width: 6px;
}
.container .circle-view #circletext {
  width: 20em;
  position: absolute;
  top: 45%;
  right: 50%;
  margin-right: 5em;
  text-align: center;
}
.container .circle-view #circletext .title {
  font-size: 1.1em;
  line-height: 2em;
}
.container .circle-view #circletext .subtitle {
  line-height: 3em;
  font-size: 0.9em;
  color: #eee;
}
.container .circle-view #circletext .clicktoread {
  font-size: 0.9em;
  font-weight: normal;
  cursor: pointer;
  margin-top: 50px;
  top: 137px;
  position: absolute;
  width: 100%;
}
.container .circle-view .menu {
  padding: 3em;
  position: absolute;
}
.container .circle-view .menu h3 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1em;
  top: 3em;
  position: absolute;
}
.container .circle-view .menu .nav * {
  text-align: center;
  margin-top: 1em;
  font-size: 0.9em;
  line-height: 2em;
  display: block;
}
.container .circle-view .menu .nextbtn:hover ~ .title {
  opacity: 1;
}
.container .circle-view .menu span.title {
  margin-top: 0;
  opacity: 0;
  transition: opacity 0.2s ease-out;
  color: #808080;
}
.container .circle-view .graph {
  width: 100%;
  height: 100vh;
}
.container #reader {
  box-shadow: inset 4px 0 12px 0px rgba(0,0,0,0.23);
  background-color: #fff;
  height: 100%;
  color: #222;
  width: 30em;
  font-family: 'Lora', serif;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.3s ease-out;
}
.container #reader section {
  height: 100vh;
  padding: 2em;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}
.container #reader section .head {
  height: 7em;
}
.container #reader section .head h3,
.container #reader section .head h5 {
  margin-bottom: 0.6em;
  line-height: 1.5em;
}
.container #reader section .head h5 {
  font-weight: normal;
}
.container #reader section .body {
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  overflow-y: scroll;
  overflow-x: hidden;
}
.container #reader section .body p {
  margin-bottom: 1em;
}
