*
  box-sizing                  border-box
  margin                      0

a
  text-decoration             underline
  cursor                      pointer

body
  font-family                 'Roboto Slab', serif
  font-weight                 200
  background-color            #171717
  color                       #fff
  overflow                    hidden

.container
  display                     flex
  display                     -webkit-flex

  .circle-view
    flex                      1 1 auto
    -webkit-flex              1 1 auto

    .spot:hover
      fill                    #fff
      stroke                  #fff
      stroke-width            6px

    #circletext
      width                   20em
      position                absolute
      top                     45%
      right                   50%
      margin-right            +5em
      text-align              center

      .title
        font-size             1.1em
        line-height           2em

      .subtitle
        line-height           3em
        font-size             0.9em
        color                 #eee

      .clicktoread
        font-size             0.9em
        font-weight           normal
        cursor                pointer
        margin-top            50px
        top                   137px
        position              absolute
        width                 100%

    .menu
      padding                 3em
      position                absolute

      h3
        display               inline-block
        vertical-align        middle
        margin-left           1em
        top                   3em
        position              absolute

      .nav *
        text-align            center
        margin-top            1em
        font-size             0.9em
        line-height           2em
        display               block

      .nextbtn:hover ~ .title
        opacity               1

      span.title
        margin-top            0
        opacity               0
        transition            opacity 0.2s ease-out
        color                 grey

    .graph
      width                   100%
      height                  100vh

  #reader
    box-shadow                inset 4px 0 12px 0px rgba(0,0,0,0.23)
    background-color          #FFF
    height                    100%
    color                     #222
    width                     30em
    font-family               'Lora', serif
    overflow-y                scroll
    overflow-x                hidden
    transition                all 0.3s ease-out

    section
      height              100vh
      padding                 2em

      display                 flex
      display                 -webkit-flex
      flex-direction          column
      -webkit-flex-direction  column

      .head
        height                7em

        h3,h5
          margin-bottom         0.6em
          line-height           1.5em

        h5
          font-weight           normal

      .body
        flex                  1 1 auto
        -webkit-flex          1 1 auto
        overflow-y            scroll
        overflow-x            hidden

        p
          margin-bottom       1em

